{% extends 'page/base.html' %}

{% load static sekizai_tags i18n %}



{% block title %}{% trans 'Cambiar Contraseña' %}{% endblock title %}

{% block head %}
<!-- Font Aweasome -->
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/all.min.css' %}" />
{% include "general/includes/css.html" %}
{% endblock head %}


{% block meta %}
<meta name="title" content="" />

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href="" />

<meta property="og.type" content="website" />
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
{% endblock meta %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'about_app:about' %}">{{ ctx_app_name }}</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{% trans 'Cambiar contraseña: ' %}{{ user.full_name }}</p>

      <form method="post">
        {% csrf_token %}
        <div class="row">
          {% if form.errors %}
          <div class="col-12">
            {{ form.password.errors }}
            {{ form.new_password.errors }}
            {{ form.confirm_password.errors }}
          </div>
          {% endif %}

          <div class="input-group col-12 mb-3">
            {{ form.password }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group col-12 mb-3">
            {{ form.new_password}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group col-12 mb-3">
            {{ form.confirm_password}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>


          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Cambiar Contraseña' %}</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% include "general/includes/js.html" %}

{% endblock content %}