{% extends 'page/base.html' %}

{% load static sekizai_tags i18n %}



{% block title %}{% trans 'Iniciar Sesión' %}{% endblock title %}

{% block head %}
<!-- Font Aweasome -->
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/all.min.css' %}" />
{% include "general/includes/css.html" %}
{% endblock head %}


{% block meta %}
<meta name="title" content="" />

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href="" />

<meta property="og.type" content="website" />
<meta property="og:url" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
{% endblock meta %}


{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'about_app:about' %}">{{ ctx_app_name }}</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{% trans 'Ingresa tus datos de inicio de sesión' %}</p>

      <form method="post">
        {% csrf_token %}
        <div class="row form-group">

          {% if form.errors %}
          <div class="col-12">
            {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="input-group col-12 mb-3">
            {{ form.username }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group col-12 mb-3">
            {{ form.password }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="col-8">
            <button type="submit" class="btn btn-primary">{% trans "Iniciar Sesión" %}</button>
          </div>

          <div class="col-4">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                {% trans 'Recuerdame' %}
              </label>
            </div>
          </div>

        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          {% trans 'Facebook' %}
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          {% trans 'Google +' %}
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">{% trans 'Olvidé mi contraseña' %}</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'users_app:user-register' %}" class="text-center">{% trans 'Todavía no me he registrado' %}</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% include "general/includes/js.html" %}

{% endblock content %}