<div class="social-links">

    {% if in_key %}
    <a href="{{ in_key }}" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
    {% endif %}


    {% if wa_key %}
    <a href="{{ wa_key }}" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>   
    {% endif %}

    
    {% if tw_key %}
    <a href="{{ tw_key }}" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>    
    {% endif %}   
        
    
    {% if fb_key %}
    <a href="{{ fb_key }}" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>        
    {% endif %}
    
    
    {% if ig_key %}
    <a href="{{ ig_key }}" target="_blank" class="instagram"><i class="fab fa-facebook-f"></i></a>
    {% endif %} 
    
    
    {% if s_key %}
    <a href="{{ s_key }}" target="_blank" class="google-plus"><i class="fab fa-skype"></i></i></a>    
    {% endif %}

</div>